# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Dataset folder
MLPC2025_dataset/
MLPC2025_test/